#signin{
    
    width: 100vw;
    height: 100vh;display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

#form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}


#form > *{
    width: 100%;
    margin: 10px;
}

label{
    margin-right: 10px;
}
