#ngohome{
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    
}

#ngohome > nav > ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#feeds{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
